<div class="container mt-20" ng-controller="homeCtrl">
    <div class="row">

        <!-- Left portion of Home -->
        <div class="col-sm-3 p-0">
    
            <!-- Profile Portion -->
            <div id="profile-details">
                <div id="cover-photo">
                    <img src="{{userDetails.profile? ('../../../media/' + userDetails.cover) : ('../../../assets/images/default-cover.jpg')}}" alt="">
                </div>
                <div id="profile-main-details">
                    <a href="#">
                        <img id="profile-image" src="{{userDetails.profile? ('../../../media/' + userDetails.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="profile image">
                    </a>
                    <h6>
                        <a href="/profile/{{main._id}}">{{ userDetails.fullName }}</a>
                    </h6>
                    <p style="font-size: 12px; color: #6a787e">{{ userDetails.status }}</p>
                    <div class="row">
                        <span class="col-2"></span>
                        <div class="ml-4 mr-2 pr-2" style="border-right: 1px solid rgb(182, 178, 178);">
                            <p class="mb-0">Followers</p>
                            <strong class="mt-0">{{totalFollowersOfLoginUser}}</strong>
                        </div>
                        <div>
                            <p class="mb-0">Following</p>
                            <strong class="mt-0">{{totalFollowingOfLoginUser}}</strong>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- About Portion -->
            <div id="about-div">
                <h6><strong>About</strong></h6>
                <ul>
                    <li><span class="fa fa-briefcase mr-2"></span>Worked at {{userDetails.work}}</li>
                    <li><span class="fa fa-home mr-2"></span> Lives in {{userDetails.currentLoc}}</li>
                    <li><span class="fa fa-map-marker mr-2 ml-1"></span> From {{userDetails.hometown}}</li>
                </ul>
            </div>
    
        </div>
        
        <!-- Main portion of Home -->
        <div class="col-sm-7">
            <div ng-repeat="post in homePosts" style="background-color: white;" class="rounded mb-3">
                <div class="row" style="padding: 15px;">
                    <div class="col-1">
                        <img src="{{post.author.profile? ('../../../media/' + post.author.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="profile avatar" style="margin-left: 10px; height: 50px;" class="rounded-circle">
                    </div>
                    <div class="col-10" style="margin-left: 20px;">
                        <div class="row">
                            <div class="col-10">
                                <h6 class="post-user-name mb-0">{{ post.author.fullName}}</h6>
                                <p class="mb-0"><small>{{ post.time }}</small></p>
                            </div>
                            <div class="col-2" ng-show="post.author._id === loginUserId">
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span style="color: rgb(151, 153, 155)" class="fa fa-ellipsis-v"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" ng-click="deletePost(post._id, $index)" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <hr>
                        <div>
                           <strong> <h5>{{ post.description }}</h5> </strong>
                            <img ng-src="../../../media/{{post.media.filename}}" style="width: 100%;">
                            <hr>
                            <div>
                                <div>
                                    <a href="#" ng-click="postLiked(post._id, main._id, $index)"><span class="fa fa-thumbs-o-up m-2"></span></a>
                                        {{post.likes}}
                                    <a href="#" class="post-actions" ng-click="showHideComment = !showHideComment"><span class="fa fa-comment-o m-2 ml-4"></span></a>
                                        {{post.comments.length}}
                                </div>
                                <br>
                                <br>
                                <div ng-show="showHideComment">
                                    <div class="row">
                                        <div class="col-1 "><img src="../../../assets/images/default-profile.jpg" alt="" style="width: 35px;" class="rounded-circle"></div>
                                       
                                        <div class="col-8 mb-3 ">
                                            <input  style="border-radius: 20px; height: 30px;" type="text" placeholder="Comment here" ng-model="post.comment">
                                            <input class="btn btn-outline-info btn-sm" style="border-radius: 20px;" type="submit" value="comment" ng-click="placeComment(post._id, main._id, $index)">
                                       
                                        </div>
                                        <hr>
                                        <div class="col-1">
                                            
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="comment in post.comments">
                                        <div class="col-sm-1">
                                        <img src="../../../assets/images/default-profile.jpg" alt="" style="width: 35px;" class="rounded-circle">
                                        
                                        </div>
                                        
                                        <div class="col-sm-8  mb-3">
                                            <p class="m-0">{{ comment.userId.firstName + ' ' + comment.userId.lastName }}</p>
                                            <small>{{ comment.commentedOn }}</small>
                                            
                                           <div class="row">
                                                <div class="col-sm-8 m-0">
                                                        <h5>{{ comment.commentedText }}
                                                    <button class="btn btn-light btn-sm fa fa-trash float-right p-1 " ng-click="deleteComment(comment._id, $parent.$index, $index)"> </button></h5>
                                                </div>

                                           </div>
                                           
                                           
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-sm-3 p-0" > 
            <div class="bg-white p-3 rounded">
                <h5  style="font-weight: bolder; ">People you may know</h5>
           
                <hr>    
                <div class="row pb-3" ng-repeat="x in main.a" >
                        
                    <div class= "col-sm-3">
                        <img style="height: 50px;" class="rounded-circle" src="{{user.profile? ('../../../media/' + user.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="dp">
                    </div>
                 
                    <div >
                        
                        <h6> Saleh Banoori</h6>
                        <button class="btn btn-secondary btn-sm p-0 m-0 px-2" style="border-radius: 20px; height: 25px;">Follow</button>
                    </div>
                   
                        
                </div>
            
            </div>
        </div>  -->
    </div>
</div>
