<div class="container mt-20">
    <div class="row">

        <!-- Left portion of user profile -->
        <div class="col-sm-3">
    
            <!-- Profile Portion -->
            <div id="profile-details">
                <div id="cover-photo"></div>
                <div id="profile-main-details">
                    <a href="/profile">
                        <img id="profile-image" src="../../../assets/image.png" alt="profile image">
                    </a>
                    <h6>
                        <a href="/profile">{{ main.firstName + ' ' + main.lastName }}</a>
                    </h6>
                    <p>It's not about how much do you have, it's about what you do with what you have!</p>
                    <ul style="
                        list-style: none;
                        padding: 0;
                    ">
                        <li style="display: inline-block; padding: 0 10px; border-right: 1px solid #d4dbe0;">
                            <a href="/profile/friends">
                                Friends
                                <h6>13K</h6>
                            </a>
                        </li>
                        <li style="display: inline-block; padding: 0 10px;">
                            <a href="#">
                                Followers
                                <h6>120M</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <!-- About Portion -->
            <div id="about-div">
                <h6>About</h6>
                <ul>
                    <li>Work at Student</li>
                    <li>Status Single</li>
                    <li>Live in Kohat, Pakistan</li>
                    <li>From Peshawar, Pakistan</li>
                </ul>
            </div>
    
            <!-- Photos Portion -->
            <div id="photos-div">
                <h6>Photos</h6>
                <ul>
                    <li><img src="#" alt=""></li>
                    <li><img src="#" alt=""></li>
                    <li><img src="#" alt=""></li>
                    <li><img src="#" alt=""></li>
                    <li><img src="#" alt=""></li>
                    <li><img src="#" alt=""></li>
                </ul>
            </div>
    
        </div>
        
        <!-- Main portion of user profile -->
        <div class="col-sm-6">
    
            <!-- Add new post to user timeline -->
            <div id="new-post-div">
                <div id="new-post-inner-div" class="input-group">
                    <input type="text" placeholder="What is in your mind write here" class="form-control">
                    <div id="new-post-button-div">
                        <button type="button"><span class="icon"></span></button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Right portion of user profile -->
        <div class="col-sm-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac blandit eros. Curabitur nisl mi, condimentum non pretium ut, ullamcorper consequat ligula. Vestibulum fermentum tincidunt pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum nec eros varius, malesuada nisl at, ullamcorper est. In hac habitasse platea dictumst. Nunc sed nisl ipsum. Fusce cursus justo felis, ac commodo augue pellentesque a. In ornare placerat lorem nec viverra. Mauris iaculis lacinia ex ut porttitor. Duis ac ornare est.
    
                Vivamus ac metus ut lacus maximus sollicitudin vitae a risus. Fusce dignissim sapien nec lectus sodales, vitae suscipit eros bibendum. Sed hendrerit at risus sed blandit. Mauris id ipsum at massa faucibus posuere a eget elit. In faucibus sodales vulputate. Nam luctus, ante a ullamcorper lobortis, urna nulla aliquam lacus, a laoreet leo metus non elit. Nunc eget sapien sit amet lacus lobortis aliquam eu quis elit. Nunc pretium mi sed purus ultricies lobortis.
                
                Aliquam erat volutpat. In non luctus odio, eu venenatis ex. Ut lobortis luctus nisi ac feugiat. Donec sed commodo neque. Nullam urna turpis, rutrum sed gravida sed, mollis eu lacus. Phasellus consequat dignissim velit, et posuere dui commodo quis. Vestibulum vel condimentum turpis, ac feugiat dolor. Sed eget elit lectus. In vulputate interdum felis eu euismod. Praesent molestie odio egestas maximus fringilla. Nulla nulla lectus, accumsan nec suscipit sit amet, cursus ut libero. In hac habitasse platea dictumst. Sed et tortor ex. Aliquam erat volutpat. Nam blandit tellus eleifend orci aliquet congue. Fusce sodales odio lectus, a pretium ante viverra vitae.
        </div>
    </div>
</div>
