<div class="container mt-20">
    <div class="row">

        <!-- Left portion of Home -->
        <div class="col-sm-3 p-0">
    
            <!-- Profile Portion -->
            <div id="profile-details">
                <div id="cover-photo">
                    <img src="{{main.loginUser.profile? ('../../../media/' + main.loginUser.cover) : ('../../../assets/images/default-cover.jpg')}}" alt="">
                </div>
                <div id="profile-main-details">
                    <a href="/profile/{{main._id}}">
                        <img id="profile-image" src="{{main.loginUser.profile? ('../../../media/' + main.loginUser.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="profile image">
                    </a>
                    <h6>
                        <a href="/profile/{{main._id}}">{{ main.loginUser.fullName }}</a>
                    </h6>
                    <p>{{main.loginUser.work}}</p>
                    <p style="font-size: 12px; color: #6a787e">{{ main.loginUser.status }}</p>
                </div>
            </div>
    
            <!-- About Portion -->
            <div id="about-div">
                <h5>About</h5>
                <ul>
                    <li><span class="fa fa-briefcase mr-1"></span>at {{main.loginUser.work}}</li>
                    <li><span class="fa fa-home mr-1"></span> in {{main.loginUser.hometown}}</li>
                    <li><span class="fa fa-home mr-1"></span> in {{main.loginUser.currentLoc}}</li>
                </ul>
            </div>
    
        </div>
        
        <!-- Main portion of Home -->
        <div class="col-sm-6" ng-controller="postCtrl">
            <div ng-repeat="post in posts" style="background-color: white;" class="rounded mb-3">
                <div class="row" style="padding: 10px;">
                    <div class="col-1">
                        <img src="{{post.author.profile? ('../../../media/' + post.author.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="profile avatar" style="margin-left: 10px; height: 50px;" class="rounded-circle">
                    </div>
                    <div class="col-10" style="margin-left: 20px;">
                        <div class="ml-2 mt-2">
                            <h6 class="post-user-name mb-0">{{ post.author.fullName}}</h6>
                            <p class="mb-0"><small>{{ post.time }}</small></p>
                        </div>
                       <hr>
                        <div>
                           <strong> <h5>{{ post.description }}</h5> </strong>
                            <img ng-src="../../../media/{{post.media.filename}}" style="width: 100%;">
                            <hr>
                            <div>
                                <div>
                                    <a href="#" ng-click="postLiked(post._id, main._id, $index)"><span class="fa fa-thumbs-o-up m-2"></span></a>
                                        {{post.likes}}
                                    <a href="#" class="post-actions" ng-click="showHideComment = !showHideComment"><span class="fa fa-comment-o m-2 ml-4"></span></a>
                                        {{post.comments.length}}
                                </div>
                                <br>
                                <br>
                                <div ng-show="showHideComment">
                                    <div class="row">
                                        <div class="col-1 "><img src="../../../assets/images/default-profile.jpg" alt="" style="width: 35px;" class="rounded-circle"></div>
                                       
                                        <div class="col-8 mb-3 ">
                                            <input  style="border-radius: 20px; height: 30px;" type="text" placeholder="Comment here" ng-model="post.comment">
                                            <input class="btn btn-outline-info btn-sm" style="border-radius: 20px;" type="submit" value="comment" ng-click="placeComment(post._id, main._id, $index)">
                                       
                                        </div>
                                        <hr>
                                        <div class="col-1">
                                            
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="comment in post.comments">
                                        <div class="col-sm-1">
                                        <img src="../../../assets/images/default-profile.jpg" alt="" style="width: 35px;" class="rounded-circle">
                                        
                                        </div>
                                        
                                        <div class="col-sm-8  mb-3">
                                            <p class="m-0">{{ comment.userId.firstName + ' ' + comment.userId.lastName }}</p>
                                            <small>{{ comment.commentedOn }}</small>
                                            
                                           <div class="row">
                                                <div class="col-sm-8 m-0">
                                                        <h5>{{ comment.commentedText }}
                                                    <button class="btn btn-light btn-sm fa fa-trash float-right p-1 " ng-click="deleteComment(comment._id, $parent.$index, $index)"> </button></h5>
                                                </div>

                                           </div>
                                           
                                           
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 p-0" > 
            <div class="bg-white p-3 rounded">
                <h5  style="font-weight: bolder; ">People you may know</h5>
           
                <hr>    
                <div class="row pb-3" ng-repeat="x in main.a" >
                        
                    <div class= "col-sm-3">
                        <img style="height: 50px;" class="rounded-circle" src="{{user.profile? ('../../../media/' + user.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="dp">
                    </div>
                 
                    <div >
                        
                        <h6> Saleh Banoori</h6>
                        <button class="btn btn-secondary btn-sm p-0 m-0 px-2" style="border-radius: 20px; height: 25px;">Follow</button>
                    </div>
                   
                        
                </div>
            
            </div>
        </div> 
        <!-- Right portion of Home -->
        <!-- <div class="col-sm-3 bg-white">
            <div class=" ">
                <h6>Who to follow</h6>
                 <div>
                    <img src="../../../assets/images/default-profile.jpg" alt="" style="width: 30px;">
                    <p>fullName</p>
                    <p>work</p>
                    <button>follow</button>
                </div> -->
                <!-- <div class="row pb-3" ng-repeat="x in main.a" style="background-color: #ffffff;"> -->
                        <!-- <img style="height: 50px;" class="rounded-circle" src="{{user.profile? ('../../../media/' + user.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="dp">
                   
                 
                  
                        
                        <h6><strong> Saleh Banoori</strong></h6>
                        <button class="btn btn-secondary btn-sm p-0 m-0 px-3" style="border-radius: 20px; height: 25px;">Follow</button>
                   
                   
                        
                </div>
            </div> 
         </div> -->
    </div>
</div>
