
<div class="page-header">
    <h1>Login</h1>
</div> 
<form ng-submit="main.doLogin(loginData);">
    <div style="align-content: center">
        <label>email</label>
        <input style="width: 30%" class="form-control" type="email" autocomplete="off" name="User Name" placeholder="User Email" ng-model="main.loginData.email">
        <br>
        <label>Password</label>
        <input style="width: 30%" class="form-control" type="password" autocomplete="off" name="Password" placeholder="Enter Your Password" ng-model="main.loginData.password">
        <br>
        <button type="submit" class="btn btn-default">Login</button>  
</div>  
</form>
<br>
<div class="row show-hide-messsage" ng-show="main.successMsg">
    <div class="alert alert-success">{{ main.successMsg }}</div>
</div>
<br>
<div class="row show-hide-messsage" ng-show="main.errorMsg">
        <div class="alert alert-danger">{{ main.errorMsg }}</div>   
</div>