

<body class="chat">

        <div class="chat__sidebar">
                <h3>Friends</h3>
                <div id="users"></div>
            </div>
        
             <div class="chat__main">
                    <ol id="message" class="chat__messages"></ol>
        
                    <div class="chat__footer">
                        <form id="message-form">
                             <input name="message" type="text" placeholder="Message"  autofocus autocomplete="off"/>
                            <button>SEND</button>
                         
                        </form>
                     </div>         
            </div>
            
    
</body>
</html>