<div ng-controller="profileCtrl">
    
    <!-- Profile header having cover, dp and nav -->
    <div>    
        <!-- cover photo -->
        <div id="p-cover-div">
            <img src="/assets/cover.jpg" alt="cover photo">
        </div>

        <!-- nav bar with profile photo on left side -->
        <div id="p-nav" class="row mx-0">
            <div id="p-dp-div" class="col-sm-3">
                <img src="/assets/no-profile.jpg" alt="profile photo" class="rounded-circle">
            </div>
            <ul class="nav col-sm-6">
                <li class="nav-link" style="border-bottom: 2px solid #55CDFC;">
                    <a href="/profile/{{ main._id }}">Timeline</a>
                </li>
                <li class="nav-link">
                    <a href="/profile/{{ main._id }}/about">About</a>
                </li>
                <li class="nav-link">
                    <a href="/profile/{{ main._id }}/friends">Friends</a>
                </li>
                <li class="nav-link">
                    <a href="/profile/{{ main._id }}/photos">Photos</a>
                </li>
                <li class="nav-link">
                    <a href="#">Others</a>
                </li>
            </ul>
            <ul class="nav col-sm-3">
                <li class="nav-link align-middle">
                    <a href="#">Edit Profile</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="p-main-body" class="row mx-0">
        <div id="p-user-details" class="col-sm-3">
            <h4 style="color: #55CDFC">{{ userDetails.firstName + ' ' + userDetails.lastName }}</h4>
            <ul>
                <li>Bio</li>
                <li>From</li>
                <li>DOB {{ userDetails.DOB }}</li>
                <li>Joined</li>
            </ul>
        </div>

        <div class="col-sm-6" ng-controller="postCtrl">
            <div ng-show="main._id===userDetails._id">
                <form name="form" enctype="multipart/form-data">
                    <input type="text" ng-model="newPost.description" placeholder="Write Something...">
                    <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"><a href="">Select File</a>
                    </div>
                    <button type="submit" ng-click="submit()">Post</button>
                </form>
            </div>
            

            <div>
                <div ng-repeat="post in posts" style="background-color: white;" class="rounded mb-3">
                    <div class="row" style="padding: 10px;">
                        <div class="col-1">
                            <img src="assets/no-profile.jpg" alt="profile avatar" style="margin-left: 10px; height: 50px;" class="rounded-circle">
                        </div>
                        <div class="col-10" style="margin-left: 20px;">
                            <div>
                                <h6>{{ post.author.firstName + ' ' + post.author.lastName}}</h6>
                                <p><small>{{ post.time }}</small></p>
                            </div>
                            <div>
                                <p>{{ post.description }}</p>
                                <img ng-src="../../../media/{{post.media.filename}}" style="width: 100%;">
                                <div>

                                        <div ng-init="imgsrc='../../../assets/icons/like/like.png'" ng-mouseover="imgsrc='../../../assets/icons/like/likeHover.png'" 
                                        ng-mouseout="imgsrc='../../../assets/icons/like/like.png'">
                                            <img ng-src="{{imgsrc}}" style="width: 20px;"/>
                                          </div>


                                    <!-- <a href="#" class="post-actions" ><img src="../../../assets/images/like/like.png" id="p-like-icon" style="width: 20px;" alt="like"></a> -->

                                    <a href="#" class="post-actions"><img src="#" alt="comment"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>