<head>
    <script src="/app/controllers/mainCtrl.js"></script>
</head>

<!-- <div> 
    <h1 style="text-transform: capitalize">Searched Users</h1>
</div> -->
<div class="panel panel-info  p-0 m-0">
    <!-- <div class="panel-heading" style="text-align: center; background: dodgerblue"><strong style="text-transform: capitalize">Matched Users</strong></div> -->

    <div class="container ">
        <div class="row">
    
            <!-- Left portion of user profile -->
            <div class="col-sm-3 bg-info text-white"> 

                <h1> Hello There! :) </h1>
               

            </div>
        
        <!-- middle -->
    <div class="col-sm-6  ">
            <div>
            <h5 style="font-weight: bold;">Searched users by First Name</h5>
            <br>
        </div>
        <div ng-repeat="user in main.searchedData" class="row">
        
      

            <div class="col-2  ">
                <img src="assets/no-profile.jpg" alt="profile avatar" style=" height: 45px;" class="rounded-circle">
                    
                
            </div>

        <div class="col-5 ">
                <a style="font-weight: bold" href="/profile/{{user._id}}">  {{ user.firstName }}</a>
                    <p style=""><strong>Kohat,Pakistan</strong></p>
            
                  
        
        </div>
        <br>
        <div class="col-3">
                <button class="btn btn-outline-secondary"  ng-show="main._id!== user._id" ng-click="main.follow(main._id , user._id, $index)"  type="submit">Follow</button>
                <h6 ng-show="main._id===user._id"> <strong>ME</strong></h6>
        </div>
        <br>
        </div>
    </div>
        <br>

        <!-- right side -->
        <div class="col-sm-3"  >
             
           <div class="row " p-0 m-0> 
                <h4><strong>Articles...</strong></h4>
            <div>       
                  
                <a href="https://www.dawn.com/news/1399970" target="_blank"> 
                        <img width="250" height="150px" border="0" align="center"  src="../../../assets/images/school.jpg"/> 
                        <p>Pakistan's First-ever School For Transgender</p>  
                    </a> 
                            
                        
              </div>
              <br>
              <div>       
                   
                 <a href="https://www.pakistantoday.com.pk/2018/07/23/coke-studio-11-brings-transgender-singers-in-the-spotlight/" target="_blank"> 
                         <img width="250" height="150px" border="0" align="center"  src="../../../assets/images/coke-studio.jpg"/> 
                         <p>Coke Studio 11 brings transgender singers in the spotlight</p>  
                     </a> 
                             
                         
               </div>
               <br>
               <div>       
                   
                    <a href="https://www.aljazeera.com/news/2018/05/pakistan-passes-landmark-transgender-rights-law-180509095207950.html" target="_blank"> 
                            <img width="250" height="150px" border="0" align="center"  src="../../../assets/images/news.jpg"/> 
                            <p>Pakistan passes landmark transgender rights law</p>  
                        </a> 
                                
                            
                  </div>
                  <br>
              

         
            
            </div> 
            </div>   
         </div>
        </div>

        </div>


     </div>
    </div>
    
