<div class="panel panel-info  p-0 m-0">
    <div ng-show="main.searchedValue" style="height: 50px; background-color: #55cdfc">
            <h5 class="container" style="color: #ffffff; font-weight: bold;">{{main.searchedValue}}</h5>
    </div>
    <div class="container">
        <div class="row">
            <!-- Left portion of user profile -->
            <div class="col-sm-3"> 
                <h6>Who to follow</h6>
                <div class="row" ng-repeat="x in main.a">
                    <div>
                        <img style="height: 50px;" class="rounded-circle" src="{{user.profile? ('../../../media/' + user.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="dp">
                    </div>
                    <div>
                        <h6>Saleh Banoori</h6>
                        <small>Student</small>
                        <button>Follow</button>
                    </div>
                </div>
            </div>
        
            <!-- middle -->
            <div class="col-sm-9">
                <div class="row">
                    <div ng-repeat="user in main.searchedData" class="col-sm-4 m-0 p-0">
                        <div style="height: 300px;" class="bg-white ml-2 mt-2">
                            <div class="">
                                <img style="width: 100%; height: 100px;" ng-src="{{user.cover? ('../../../media/' + user.cover) : ('../../../assets/images/default-cover.jpg')}}" alt="cover">
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <img ng-src="{{user.profile? ('../../../media/' + user.profile) : ('../../../assets/images/default-profile.jpg')}}" alt="profile avatar" style=" height: 50px;" class="rounded-circle">
                                </div>
                                <div class="col-5">
                                    <button style="border-radius: 20px;" class="btn btn-outline-secondary"  ng-show="main._id!== user._id" ng-click="main.follow(main._id , user._id, $index)"  type="submit">{{ user.followed }}</button>
                                </div>
                            </div>
                            <div>
                                <a style="font-weight: bold" href="/profile/{{user._id}}">{{ user.fullName }}</a>
                                <p>{{ user.work }}</p>
                                <p>{{ user.status }}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
